<div class='actions-bar'>
  <%= link_to image_tag("plus-white.png") + "选择要装车的运单", search_carrying_bills_path(
    show_or_hidden_fields.merge(:format => :js,:set_disable => 1)),
  :id =>"btn_generate_scan_header_load_out",
  :class => 'fancybox tipsy sexybutton sexysimple sexyblue',
  :title => "录入查询条件,查询要装车的运单" %>
  <%=hidden_field_tag :type_in,"","data-type" => ['ComputerBill','HandBill','ReturnBill','AutoCalculateComputerBill'].to_json %>
</div>
<div id="table_wrap"></div>
