<div class="block">
  <%= render "dynamic_toolbar" %>
  <div class="content">
    <h2 class="title">新建 <%= resource_name %></h2>
    <div class="inner">
      <%= render :partial => "search_bills" %>
    </div>
  </div>
  <%= render "dynamic_toolbar" %>
</div>

