<div class="block">
  <%= render "dynamic_toolbar" %>
  <div class="content">
    <h2 class="title">分理处货物滞留统计</h2>
    <div class="inner">
      <%= render :partial => "shared/act_load_lists/search_bills_for_report" %>
    </div>
  </div>
  <%= render "dynamic_toolbar" %>
</div>

