<div class="block">
  <div class="secondary-navigation">&nbsp;</div>
  <div class="content">
    <h2 class="title">运单查询-按照客户编号</h2>
    <div class="inner">
      <%= render "customer_code_search_form" %>
    </div>
  </div>
  <div class="secondary-navigation">&nbsp;</div>
</div>
