<div class="block">
  <div class="secondary-navigation">&nbsp;</div>
  <div class="content">
    <h2 class="title">多运单查询</h2>
    <div class="inner">
      <%= render "multi_bills_search_form" %>
    </div>
  </div>
  <div class="secondary-navigation">&nbsp;</div>
</div>
