<div class="block">
  <div class="secondary-navigation">&nbsp;</div>
  <div class="content">
    <h2 class="title">返程货票据统计</h2>
    <div class="inner">
      <%= render "simple_search_2" %>
      <div id='table_wrap'>
      </div>
    </div>
  </div>
  <div class="secondary-navigation">&nbsp;</div>
</div>
