.bundle
db/*.sqlite3*
log/*.log
*.log
tmp/**/*
tmp/*
doc/api
doc/app
*.swp
*.sw?
*~
._*
.DS_Store
public/assets/il_javascripts.js
public/assets/il_ie_javascripts.js
public/assets/il_stylesheets.css
public/assets/il_ie_stylesheets.css
public/assets/il_javascripts.js.gz
public/assets/il_ie_javascripts.js.gz
public/assets/il_stylesheets.css.gz
public/assets/il_ie_stylesheets.css.gz
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
vendor/
public/system/
.docker-sync/*
.docker-sync/daemon.log
.docker-sync/daemon.pid
