<div class='actions-bar'>
  <input type='text' size="10" class="search_box" data-params = '{"search[send_list_line_state_eq]" : "sended","hide_fields" : ".carrying_fee,.insured_fee","show_fields" : ".carrying_fee_th,.th_amount","show_multi" : 1}'/>
</div>
<hr />
<%= render "shared/carrying_bills/table_no_paginate" %>
