<%if params[:action] == "show"%>
  <li>
    <%= link_to image_tag("document-excel-table.png",:alt => "导出为EXCEL"), export_excel_distribution_list_path(resource,:format => :js),:title => "导出为EXCEL",:class => "tipsy"  %>
  </li>
<%end%>
