<div class="block">
  <%= render "dynamic_toolbar" %>
  <div class="content">
    <h2 class="title">打印提货票据</h2>
    <div class="inner">
      <div id='print_th_bill_wrap' class="bill_selector">
        <%= render "show" %>
      </div>
    </div>
  </div>
  <%= render "dynamic_toolbar" %>
</div>
