<table class="table">
  <tr>
    <th>分公司</th>
    <td colspan="3"><%= resource.to_org %></td>
  </tr>

  <tr>
    <th>所在地</th>
    <td colspan="3"><%= resource.location %></td>
  </tr>
  <tr>
    <th>运价说明</th>
    <td colspan="3"><%= resource.note %></td>
  </tr>
</table>
