<div class="block">
  <%= render "dynamic_toolbar" %>
  <div class="content">
    <h2 class="title">货物滞留清单(分公司)</h2>
    <div class="inner">
      <%= render :partial => "shared/act_load_lists/bills" %>
    </div>
  </div>
  <%= render "dynamic_toolbar" %>
</div>

