<div class='actions-bar'>
  <input type='text' size="10" class="search_box" data-params = '{"search[state_ni][]" : ["billed","loaded","shipped","reached","returned","distributed","deliveried","invalided","canceled"],"search[type_in][]" : ["ComputerBill","HandBill","ReturnBill"],"search[from_short_fee_state_or_to_short_fee_state_eq]" :"draft","search[from_short_carrying_fee_or_to_short_carrying_fee_gt]" : 0,"show_multi" : 1,  "hide_fields" : ".insured_fee,.carrying_fee_total,.customer,.goods_fee","show_fields" : ".from_short_carrying_fee,.to_short_carrying_fee,.from_short_fee_state,.from_short_fee_state"}'/>
</div>
<div class='short_fee_info_lines'>
  <%= render "shared/carrying_bills/table_no_paginate" %>
</div>
