<div class='actions-bar'>
  <%= link_to image_tag("plus-white.png") + "生成代收货款支付清单(转账)",'#' ,
    :class => 'tipsy sexybutton sexysimple sexyblue',
    :title => "查询符合转账条件的运单",
    :id => "btn_generate_outter_transit_transfer_payment_list" %>
</div>
<div id="table_wrap"></div>
