<div class='actions-bar'>
  <%= link_to image_tag("plus-white.png") + "生成客户提款结算清单",carrying_bills_path,
    :remote => true,
    :id=> "btn_generate_local_town_post_info",
    :class => 'tipsy sexybutton sexysimple sexyblue',
    :title => "生成客户提款结算清单" %>
</div>
<div id="table_wrap"></div>
