<div class="block" style='pading-top : 10px;'>
  <p>Copyright &copy; <%= Time.now.year %> 管货宝.</p>
  <p><a href="mailto:cheng.donghui@gmail.com">联系技术支持</a>&nbsp;&nbsp;EMAIL:5424340109@qq.com&nbsp;&nbsp;微信/QQ:542340109</p>
  <p style="display: none;"><%= render "shared/umeng_analytics" %></p>
</div>