<div class="block" style='pading-top : 10px;'>
  <p>Copyright &copy; <%= Time.now.year %> 郑州创艺信息系统有限公司.</p>
  <p><a href="mailto:cheng.donghui@gmail.com">联系技术支持</a>&nbsp;&nbsp;电话:13676997527&nbsp;&nbsp;QQ:542340109</p>
  <p style="display: none;"><%= render "shared/umeng_analytics" %></p>
</div>

