<td>发货站</td>
<td><%= f.select :from_org_id,current_ability_orgs_for_select,{},:readonly => true,:id => :from_org_id %></td>
<td>中转站</td>
<td><%= f.select :transit_org_id,all_summary_orgs_for_select ,{},:id => :transit_org_id%></td>
<td>到货站</td>
<td><%= f.select :to_org_id,inner_bill_to_orgs_list(false,true),{:include_blank => true},:class =>:select_org,:id =>:to_org_id %></td>
