<div class="block">
  <%= render "dynamic_toolbar" %>
  <div class="content">
    <h2 class="title">每日实际装车清单</h2>
    <div class="inner">
      <div id='act_load_list_form_wrap'>
        <%= render "shared/act_load_lists/form" %>
      </div>
    </div>
  </div>
  <%= render "dynamic_toolbar" %>
</div>

