<div class="block">
  <%= render "dynamic_toolbar" %>
  <div class="content">
    <h2 class="title">导出短信通知清单</h2>
    <div class="inner">
      <div id='export_sms_form_wrap'>
        <%= render :partial => "sms_select" %>
      </div>
    </div>
  </div>
  <%= render "dynamic_toolbar" %>
</div>

