<div class='actions-bar'>
  <%= link_to image_tag("plus-white.png") + "生成代收货款支付清单(现金)",'#' ,
    :class => 'tipsy sexybutton sexysimple sexyblue',
    :title => "生成代收货款支付清单",
    :id => "btn_generate_inner_transit_cash_payment_list" %>
</div>
<div id="table_wrap"></div>
