<div class='actions-bar'>
  <%= link_to image_tag("plus-white.png") + "生成结算清单",
    carrying_bills_path,
    :remote => true,
    :id=>"btn_generate_inner_transit_settlement",
    :class => 'tipsy sexybutton sexysimple sexyblue',
    :title => "生成结算清单" %>
</div>
<hr/>
<div id="table_wrap"></div>
