<table class='table'>
  <tr>
    <td>所属机构:</td>
    <td><%=resource.org.name%></td>
    <td>姓名:</td>
    <td><%=resource.name%></td>
    <td>手机:</td>
    <td><%=resource.mobile%></td>
    <td>地址:</td>
    <td><%=resource.address%></td>

  </tr>
</table>
