/* -------------------------------------------------------------------------------------------------

formtastic ie6 css fix

--------------------------------------------------------------------------------------------------*/


/* INPUT LIs
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset  ol  li { margin-bottom:1.5em; }
form.formtastic fieldset  ol  li { overflow:auto; } /* clearing contained floats */

form.formtastic fieldset  ol  li.required { }
form.formtastic fieldset  ol  li.optional { }
form.formtastic fieldset  ol  li.error { }


/* LABELS
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset  ol  li label { display:block; width:25%; float:left; padding-top:.2em; }
form.formtastic fieldset  ol  li  li label { line-height:100%; padding-top:0; }
form.formtastic fieldset  ol  li  li label input { line-height:100%; vertical-align:middle; margin-top:-0.1em;}


/* NESTED FIELDSETS AND LEGENDS (radio, check boxes and date/time inputs use nested fieldsets)
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset  ol  li fieldset { position:relative; }
form.formtastic fieldset  ol  li fieldset legend { position:absolute; width:95%; padding-top:0.1em; left: 0px; }
form.formtastic fieldset  ol  li fieldset legend span { position:absolute; }
form.formtastic fieldset  ol  li fieldset legend.label label { position:absolute; }
form.formtastic fieldset  ol  li fieldset ol { float:left; width:74%; margin:0; padding:0 0 0 25%; }
form.formtastic fieldset  ol  li fieldset ol li { padding:0; border:0; }


/* INLINE HINTS
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset  ol  li p.inline-hints { color:#666; margin:0.5em 0 0 25%; }


/* INLINE ERRORS
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset  ol  li p.inline-errors { color:#cc0000; margin:0.5em 0 0 25%; }
form.formtastic fieldset  ol  li ul.errors { color:#cc0000; margin:0.5em 0 0 25%; list-style:square; }
form.formtastic fieldset  ol  li ul.errors li { padding:0; border:none; display:list-item; }


/* STRING & NUMERIC OVERRIDES
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset  ol  li.string input { max-width:74%; }
form.formtastic fieldset  ol  li.password input { max-width: 13em; }
form.formtastic fieldset  ol  li.numeric input { max-width:74%; }


/* TEXTAREA OVERRIDES
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset  ol  li.text textarea { width:74%; }


/* HIDDEN OVERRIDES
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset ol li.hidden { display:none; }

/* BOOLEAN OVERRIDES
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset  ol  li.boolean label { padding-left:25%; width:auto; }
form.formtastic fieldset  ol  li.boolean label input { margin:0 0.5em 0 0.2em; }


/* RADIO OVERRIDES
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset  ol  li.radio { }
form.formtastic fieldset  ol  li.radio fieldset ol { margin-bottom:-0.6em; }
form.formtastic fieldset  ol  li.radio fieldset ol li { margin:0.1em 0 0.5em 0; }
form.formtastic fieldset  ol  li.radio fieldset ol li label { float:none; width:100%; }
form.formtastic fieldset  ol  li.radio fieldset ol li label input { margin-right:0.2em; }


/* CHECK BOXES (COLLECTION) OVERRIDES
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset  ol  li.check_boxes { }
form.formtastic fieldset  ol  li.check_boxes fieldset ol { margin-bottom:-0.6em; }
form.formtastic fieldset  ol  li.check_boxes fieldset ol li { margin:0.1em 0 0.5em 0; }
form.formtastic fieldset  ol  li.check_boxes fieldset ol li label { float:none; width:100%; }
form.formtastic fieldset  ol  li.check_boxes fieldset ol li label input { margin-right:0.2em; }



/* DATE & TIME OVERRIDES
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset  ol  li.date fieldset ol li,
form.formtastic fieldset  ol  li.time fieldset ol li,
form.formtastic fieldset  ol  li.datetime fieldset ol li { float:left; width:auto; margin:0 .3em 0 0; }

form.formtastic fieldset  ol  li.date fieldset ol li label,
form.formtastic fieldset  ol  li.time fieldset ol li label,
form.formtastic fieldset  ol  li.datetime fieldset ol li label { display:none; }

form.formtastic fieldset  ol  li.date fieldset ol li label input,
form.formtastic fieldset  ol  li.time fieldset ol li label input,
form.formtastic fieldset  ol  li.datetime fieldset ol li label input { display:inline; margin:0; padding:0;  }
