<tfoot>
  <tr>
    <td colspan='6'>合计:</td>
    <td><%= @search.sum(:origin_goods_fee) %></td>
    <td><%= @search.sum(:adjust_goods_fee) %></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</tfoot>
