<table class="table">
  <tr>
    <th>区域名称:</th>
    <td> 
      <%= resource.name %>
    </td>
  </tr>
  <tr>
    <th>区域备注:</th>
    <td><%= resource.note%></td>
  </tr>
  <tr>
    <th>机构列表:</th>
    <td><%= resource.orgs_list %></td>
  </tr>
</table>
