<li>
  <%= link_to image_tag("cross.png",:alt => "删除该记录"), polymorphic_url(resource,:routing_type => :path),:method => :delete,:class =>"tipsy btn_destroy",:title => "删除该记录",:confirm => "你确定要删除吗?" %>
</li>
