<div class="block">
  <%= render "dynamic_toolbar" %>
  <div class="content">
    <h2 class="title"><%=resource_name%></h2>
    <div class="inner">
      <div id='table_wrap'>
        <%= render 'table' %>
      </div>
    </div>
  </div>
  <%= render "dynamic_toolbar" %>
</div>
