<div class="block">
  <%= render "dynamic_toolbar" %>
  <div class="content">
    <h2 class='title'>查看<%= resource_name %></h2>
    <div class="inner">
      <%= render "show",:show => resource %>
    </div>
  </div>
  <%= render "dynamic_toolbar" %>
</div>
