<div class="block">
  <%= render "dynamic_toolbar" %>
  <div class="content">
    <h2 class="title">生成到货通知清单</h2>
    <div class="inner">
      <div id='notice_form_wrap'>
        <%= render "notices/form" %>
      </div>
    </div>
  </div>
  <%= render "dynamic_toolbar" %>
</div>

