<!DOCTYPE html>
<html>
  <head>
    <title>IL物流平台 &ndash; 维护中</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="author" content="chengdh" />
    <meta name="robots" content="all" />
    <meta name="MSSmartTagsPreventParsing" content="true" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link href="/stylesheets/maintenance.css" media="screen" rel="stylesheet" type="text/css" />
    <script src="/javascripts/jquery.min.js" type="text/javascript"></script>
    <script src="/javascripts/maintenance.js" type="text/javascript"></script>
  </head>
  <body>
    <p id="logo">
      IL物流平台
    </p>
    <div id="content">
      <h1>
        系统正在维护中，请稍后访问...
      </h1>
      <p>
        换个心情，看看蓝色的海滩吧...
      </p>
    </div> <!--to END #content -->
    <div id="sky">
      <div id="cloud"></div>
      <div id="cloud2"></div>
      <div id="cloud3"></div>
    </div>
    <div id="sand">
      <div id="waves">
      </div> <!-- END #waves -->
      <div id="waves2">
      </div> <!-- END #waves2 -->
      <div id="waves3"waves>
      </div> <!-- END #waves3 -->
    </div> <!-- END #waves -->
    <div id="feet">
    </div> <!-- END #feet -->
  </body>
</html>
